body {
    color: white;
    background-color: #557a95;
}

img {
   display: block;
   margin: auto;
   width: 500px;
   border-radius: 8px;
  }

  h1 {
    text-align: center;
    font-size: 50px;
  }